<!-- support.component.html -->

<header>
  <a routerLink="/">
    <img src="assets/logo.png" alt="Your App Logo">
  </a>
  <a routerLink="/login" class="login-btn">Login</a>
</header>

<section class="center-container">
  <!-- Title Section -->
  <section class="title-section">
    <h1>Zajednica i podrška</h1>
    <p>Dobro došli u sigurnu zonu vaših osjećaja. Ovdje ćete pronaći podršku
      koja vam je potrebna i osloboditi se mentalnog pritiska pri čitanju diskusija,
      konverziranjem sa uvaženim članicama mojKarton zajednice, te pronaći odgovore na
      sva pitanja na koja odgovor nemate, a zauzimaju veliki dio vašeg slobodnog vremena. </p>
    <button routerLink="/klinike" class="klinike-btn">Klinike</button>
  </section>

  <!-- Experience Grid -->
  <div class="experience-grid">
    <div class="experience-bubble">
      <p>Naša misija u "mojKarton" je pružiti neustrašivu podršku i izvor snage
        ženama koje se suočavaju s izazovima raka dojke. Smatramo da svaka žena
        zaslužuje pristup obuhvatnim informacijama, podršku zajednice koja razumije,
        i alate koji osnažuju. Kroz našu aplikaciju, želimo osigurati prostor gdje
        se informacije o zdravlju, samoproučavanje i zdrav životni stil stapaju u
        jedinstveno iskustvo podrške. U srcu naše misije leži uvjerenje da zajednički
        možemo uticati na borbu protiv raka dojke, osnažujući žene da preuzmu kontrolu
        nad svojim zdravljem i pružajući im osjećaj povezanosti i hrabrosti koji su ključni
        u ovoj životnoj borbi. "mojKarton" je više od aplikacije; to je pokret solidarnosti,
        podupiranja i inspiracije.</p>
    </div>

    <div class="experience-bubble">
      <h3>Experience 2</h3>
      <p>Description of the experience goes here...</p>
    </div>

    <div class="experience-bubble">
      <h3>Experience 3</h3>
      <p>Description of the experience goes here...</p>
    </div>
  </div>

</section>

<footer>
  <div>Sarajevo School of Science and Technlogy 2023 &copy;</div>
</footer>
