/* tips.component.css */

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fcfafa;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80px; /* Adjust the value to increase or decrease the logo size */
}

.login-btn {
  background-color: #ff7795;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  margin: 50px auto;
}
.title-section {
  position: relative;
  background-image: url('/assets/Picture2.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: rgba(255, 119, 149, 0.32);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 300px;
}
h1 {
  font-size: 40px;
  color: #FF7795;
  font-family: 'Lemon', sans-serif;
}

.tips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 20px; /* Adjust spacing between tip containers */
  margin-top: 0px;
  background: white;
  width: 85%;
}

.tip-container {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(255, 119, 149, 0.32);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
  height: 500px;
}
.tip-container p {
  font-size: 18px;
  line-height: 1.5;
  color: #1E395B;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.tip-container:hover {
  background-color: pink;
}

.tip-container h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #FF7795;
  font-family: 'Lemon', sans-serif;

}
.tip-container.diet {
  background-image: url('/assets/food.png');
  background-size: contain;
  background-position: bottom;
}
.tip-container.pactivity {
  background-image: url('/assets/exercise.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.tip-container.checkup {
  background-image: url('/assets/checkup.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}


footer {
  background-color: #fcfafa;
  color: #FD043B;
  padding: 10px;
  text-align: center;
}

/* Add more styles as needed */
