<!-- app.component.html -->

<header>
  <a routerLink="/">
    <img src="assets/logo.png" alt="Your App Logo">
  </a>
  <a routerLink="/login" class="login-btn">Login</a>
</header>

<section class="app-description">
  <!-- Background image for the description section -->
  <div class="description-bg"></div>

  <!-- Content inside the description section -->
  <div class="description-content">
    <p>Predstavljamo "mojKarton" — revolucionarnu aplikaciju koja mijenja igru
      i transformiše svijest o raku dojke. Zamislite ovo: dinamična platforma
      pažljivo osmišljena kako bi ženama pružila ne samo informacije, već personalizirano
      putovanje prema boljem zdravlju dojki. mojKarton je vaša glavna resursna baza koja
      besprijekorno kombinuje promociju zdravog načina života, dubinske uvide u rak i cutting-edge
      alate za samoprocjenu. Ali, tu ne stajemo. Pioniramo podržavajuću zajednicu, virtualni utočište
      gdje pojedinci zajedno dijele priče i pronalaze snagu. Zamislite mojKarton kao vašeg digitalnog
      saveznika u borbi protiv raka dojke, sveobuhvatno rješenje koje će poremetiti ustaljeni poredak
      stvari. Nismo samo aplikacija; mi smo pokret, posvećenost ranoj detekciji, mentalnom zdravlju i
      osnaživanju. Pridružite nam se dok mijenjamo priču o svijesti o raku dojke — mojKarton, gdje se
      znanje susreće s otpornošću. </p>
  </div>
</section>

<div class="grid-container">
  <div class="grid-item tips" (click)="navigateTo('tips')">
    <h2>Savjeti za zdrav život</h2>
<!--    <p>Click for helpful tips.</p>-->
  </div>
  <div class="grid-item test" (click)="navigateTo('test')">
    <h2>Simptomi i Samopregled</h2>
<!--    <p>Click to take a test.</p>-->
  </div>
  <div class="grid-item support" (click)="navigateTo('support')">
    <h2>Zajednica i Podrška</h2>
<!--    <p>Click for support.</p>-->
  </div>
</div>

<footer>
  <div>Sarajevo School of Science and Technlogy 2023 &copy;</div>
</footer>
