body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fcfafa;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80px; /* Set your logo height */
}

.login-btn {
  background-color: #ff7795;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.app-description {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.description-bg {
  background-image: url('/assets/background1.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(5px);
  z-index: -1;
}
.description-content {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  padding: 20px;
  color: black;
  text-align: right;
  max-width: 40%;
}
.description-content p {
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */
  line-height: 2; /* Adjust the line height for better readability */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 119, 149, 0.32);
  border-radius: 8px;
  cursor: pointer;
  height: 200px;
  overflow: hidden;
}
/*.grid-item h2,*/
/*.grid-item p {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  color: #fff; !* Text color *!*/
/*}*/
.grid-item.tips {
  background-image: url('/assets/Picture2.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.grid-item.test {
  background-image: url('/assets/Picture1.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.grid-item.support {
  background-image: url('/assets/Picture3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


footer {
  background-color: #fcfafa;
  color: #FD043B;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* Add responsive styles if needed */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    margin-bottom: 10px;
  }
}
