<!-- test.component.html -->

<header>
  <a routerLink="/">
    <img src="assets/logo.png" alt="Your App Logo">
  </a>
  <a routerLink="/login" class="login-btn">Login</a>
</header>

<main class="main-section">
  <!-- First Section -->
  <section class="title-section">
    <a routerLink="/test" class="link1">Simptomi</a>
    <span>i</span>
    <a routerLink="/self" class="link2">Samopregled</a>
  </section>

  <!-- Second Section -->
  <section class="white-section">
    <div class="container">
      <div class="top-part">
        <!-- Empty container content -->
        <!-- You can add content here if needed -->
      </div>
    </div>
  </section>
</main>

<footer>
  <div>Sarajevo School of Science and Technlogy 2023 &copy;</div>
</footer>

